{% extends 'core/base.html' %}
{% block title %}{{ task.name }}{% endblock %}
{% block content %}
<div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <div><i class="fa-solid fa-signature me-2 mt-2"></i>{{task.name}}</div>
    <div><i class="fa-solid fa-file-signature me-2 mt-2"></i>{{task.body}}</div>
    <div><i class="fa-solid fa-diamond me-2 mt-2" style="color:{{task.list.color}};"></i>{{task.list.name}}</div>
    <div><i class="fa-regular fa-calendar-days me-2 mt-2"></i>{{task.start_time}}-{{task.end_time}}</div>
    <div><i class="fa-solid fa-user me-2 mt-2"></i>{{task.author}}</div>
    <div class="mt-4">
        <a href="{% url 'task:edit' task.id %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 inline-flex items-center border border-blue-700 rounded">
            <span> <i class="fa-solid fa-pen-to-square me-1"></i> Edit</span>
        </a>
        <a href="{% url 'task:delete' task.id %}" class="ms-2 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 inline-flex items-center border border-blue-700 rounded">
            <span><i class="fa-solid fa-trash-can me-1"></i>Delete</span>
        </a>
    </div>
</div>
{% endblock %}