{%load static%}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title%}{% endblock%}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
    <!--Fontawesomni ulash-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <!--Fontawesomni ulash-->
</head>
<body>
<!-- component -->
<div class="w-full h-full">
    <dh-component>
        <div class="flex flex-no-wrap">
            <!-- Sidebar starts -->
            <div style="min-height: 716px"
                 class="w-64 absolute sm:relative bg-gray-800 shadow md:h-full flex-col justify-between hidden sm:flex">
                <div class="px-8">
                    <div class="h-16 w-full flex items-center">
                        <a class="flex items-center mt-5">
                            <img src="{% static 'images/out.png' %}" class="h-16 mr-3" alt="My Logo"/>
                            <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">{{user.username}}</span>
                        </a>
                    </div>
                    <h1 class="text-gray-300 text-xl mt-8" style="font-weight:bold">Menu</h1>
                    <li class="flex w-full justify-between text-gray-300 cursor-pointer items-center mb-6 ms-4 mt-4">
                            <a href="#"
                               class="flex items-center focus:outline-none focus:ring-2 focus:ring-white">
                                <span class="text-sm"><i class="fa-solid fa-house me-2"></i>Main</span>
                            </a>
                        </li>
                    <ul class="mt-4">
                        <!--Tasks-->
                        <h1 class="text-gray-300 text-sm mb-2 ms-2" style="font-weight:bold">TASKS</h1>
                        <li class="flex w-full justify-between text-gray-300 cursor-pointer items-center mb-6 ms-4">
                            <a href="#"
                               class="flex items-center focus:outline-none focus:ring-2 focus:ring-white">
                                <span class="text-sm"><i class="fa-solid fa-angles-right me-2"></i>Upcoming</span>
                            </a>
                            <div class="py-1 px-3 bg-gray-600 rounded text-gray-300 flex items-center justify-center text-xs">
                                5
                            </div>
                        </li>
                        <li class="ms-4 flex w-full justify-between text-gray-400 hover:text-gray-300 cursor-pointer items-center mb-6">
                            <a href="javascript:void(0)"
                               class="flex items-center focus:outline-none focus:ring-2 focus:ring-white">

                                <span class="text-sm"><i class="fa-solid fa-list-check me-2"></i>Today</span>
                            </a>
                            <div class="py-1 px-3 bg-gray-600 rounded text-gray-300 flex items-center justify-center text-xs">
                                8
                            </div>
                        </li>
                        <li class="ms-4 flex w-full justify-between text-gray-400 hover:text-gray-300 cursor-pointer items-center mb-6">
                            <a href="javascript:void(0)"
                               class="flex items-center focus:outline-none focus:ring-2 focus:ring-white">
                                <span class="text-sm"><i class="fa-solid fa-calendar-days me-2"></i>Calendar</span>
                            </a>
                        </li>
                        <li class="ms-4 flex w-full justify-between text-gray-400 hover:text-gray-300 cursor-pointer items-center mb-6">
                            <a href="javascript:void(0)"
                               class="flex items-center focus:outline-none focus:ring-2 focus:ring-white">
                                <span class="text-sm"><i class="fa-regular fa-note-sticky me-2"></i>Sticky wall</span>
                            </a>
                        </li>
                        <li class="flex w-full justify-between text-gray-400 hover:text-gray-300 cursor-pointer items-center mb-6 ms-4">
                            <a href="{% url 'task:new_task' %}"
                               class="flex items-center focus:outline-none focus:ring-2 focus:ring-white">
                                <span class="text-sm"><i class="fa-solid fa-plus me-2"></i>New task</span>
                            </a>
                        </li>

                        <!--Lists-->
                        <h1 class="ms-2 text-gray-300 text-sm mb-2" style="font-weight:bold">LISTS</h1>
                        <li class="ms-4 flex w-full justify-between text-gray-400 hover:text-gray-300 cursor-pointer items-center mb-6">
                            <a href="javascript:void(0)"
                               class="flex items-center focus:outline-none focus:ring-2 focus:ring-white">
                                <i class="fa-solid fa-diamond me-2" style="color:red;"></i>
                                <span class="text-sm">Personal</span>
                            </a>
                            <div class="py-1 px-3 bg-gray-600 rounded text-gray-300 flex items-center justify-center text-xs">
                                25
                            </div>
                        </li>
                        <li class="ms-4 flex w-full justify-between text-gray-400 hover:text-gray-300 cursor-pointer items-center mb-6">
                            <a href="javascript:void(0)"
                               class="flex items-center focus:outline-none focus:ring-2 focus:ring-white">
                                <i class="fa-solid fa-diamond me-2" style="color:blue;"></i>
                                <span class="text-sm">Work</span>
                            </a>
                            <div class="py-1 px-3 bg-gray-600 rounded text-gray-300 flex items-center justify-center text-xs">
                                25
                            </div>
                        </li>
                        <li class="ms-4 flex w-full justify-between text-gray-400 hover:text-gray-300 cursor-pointer items-center mb-6">
                            <a href="{% url 'task:tasks'%}"
                               class="flex items-center focus:outline-none focus:ring-2 focus:ring-white">
                                <i class="fa-solid fa-diamond me-2" style="color:yellow;"></i>
                                <span class="text-sm">All tasks</span>
                            </a>
                            <div class="py-1 px-3 bg-gray-600 rounded text-gray-300 flex items-center justify-center text-xs">
                                25
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="px-8 border-t border-gray-700">
                    <ul class="w-full flex items-center justify-between bg-gray-800">
                        <li class="cursor-pointer text-white pt-5 pb-3">
                            <button aria-label="show notifications"
                                    class="focus:outline-none focus:ring-2 rounded focus:ring-gray-300">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bell"
                                     width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                     fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z"></path>
                                    <path d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6"></path>
                                    <path d="M9 17v1a3 3 0 0 0 6 0v-1"></path>
                                </svg>
                            </button>
                        </li>
                        <li class="cursor-pointer text-white pt-5 pb-3">
                            <button aria-label="open chats"
                                    class="focus:outline-none focus:ring-2 rounded focus:ring-gray-300">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-messages"
                                     width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                     fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z"></path>
                                    <path d="M21 14l-3 -3h-7a1 1 0 0 1 -1 -1v-6a1 1 0 0 1 1 -1h9a1 1 0 0 1 1 1v10"></path>
                                    <path d="M14 15v2a1 1 0 0 1 -1 1h-7l-3 3v-10a1 1 0 0 1 1 -1h2"></path>
                                </svg>
                            </button>
                        </li>
                        <li class="cursor-pointer text-white pt-5 pb-3">
                            <button aria-label="open settings"
                                    class="focus:outline-none focus:ring-2 rounded focus:ring-gray-300">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings"
                                     width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                     fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z"></path>
                                    <path d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"></path>
                                    <circle cx="12" cy="12" r="3"></circle>
                                </svg>
                            </button>
                        </li>
                        <li class="cursor-pointer text-white pt-5 pb-3">
                            <button aria-label="open logs"
                                    class="focus:outline-none focus:ring-2 rounded focus:ring-gray-300">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-archive"
                                     width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                     fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z"></path>
                                    <rect x="3" y="4" width="18" height="4" rx="2"></rect>
                                    <path d="M5 8v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-10"></path>
                                    <line x1="10" y1="12" x2="14" y2="12"></line>
                                </svg>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Sidebar ends -->
            <!-- Remove class [ h-64 ] when adding a card block -->
            <div class="container mx-auto py-10 h-64 md:w-4/5 w-11/12 px-6">
                <!-- Remove class [ border-dashed border-2 border-gray-300 ] to remove dotted border -->
                <div class="w-full h-full">
                    {%block content%}
                    {%endblock%}
                </div>
            </div>
        </div>
    </dh-component>
</div>
</body>
</html>